
.container{
  padding: 2rem 2rem 2rem 2rem;
}
table{
  background-color: var(--block);
  margin-top: 3rem;
   color: var(--header);
  border-radius: 0.4rem;
  text-align: center;
}
table th{
   background-color: var(--header);
  color: var(--text-header);
  text-align: center;

}
.visu{
  background-color: var(--border-green) ;
  margin-left: 0.1rem;
   color: var(--text-title);
}
.edit{
  background-color: var(--border-green) ;
  margin-left: 0.2rem;
  color: var(--text-title);
}
.deletar{
  background-color: var(--danger);
  color: var(--text-title);
  margin-left: 9rem;
}
