<div class="container">
  <div [hidden]="submitted">
    <h1>Formulário de Cadastro</h1>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Nome é Obrigatório!
        </div>
      </div>

      <div class="form-group">
        <label for="cnpj"> CNPJ</label>
        <input type="text" class="form-control" id="cnpj"
               [(ngModel)]="model.cnpj" name="CNPJ">
      </div>
      <div class="form-group">
        <label for="endereco"> Endereço</label>
        <input type="text" class="form-control" id="endereco"
               [(ngModel)]="model.endereco" name="endereco">
      </div>

      <div class="form-group">
        <label for="funcionario">Funcionários</label>
        <select class="form-control" id="funcionario"
                required
                [(ngModel)]="model.funcionario" name="funcionario"
                #funcionario="ngModel">
          <option *ngFor="let func of funcionarios" [value]="func">{{func}}</option>
        </select>
        <div [hidden]="funcionario.valid || funcionario.pristine" class="alert alert-danger">
         Funcionário é obrigatório
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="newEmpresa(); heroForm.reset()">Nova Empresa</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">CNPJ</div>
      <div class="col-xs-9">{{ model.cnpj }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Endereço </div>
      <div class="col-xs-9">{{ model.endereco }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Funcionários</div>
      <div class="col-xs-9">{{ model.funcionario }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>
